#app{
  -webkit-user-select: none;
  -moz-user-select: none; 
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 }
 .imgCronometro{
  width: 420px;
  height: 450px;
  padding-top: 150px;
 }
 .timer{
  color: white;
  font-size: 70px;
  margin-top: -233px;
}
  .btns{
    margin-top: 180px;
    display: flex;
  }
  .btn{
    width: 150px;
    background-color: white;
    font-size: 20px;
    border: 0;
    border-radius: 5px;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    padding: 6px;
    cursor: pointer;
  }

  .btn:hover{
    opacity: 0.8;
    transition: all 0.5s;
  }

  ul{
    text-align: center;
    padding: 0px;
  }

  ul li{
    margin-top: 4px;
    padding: 15px 35px;
    background-color: rgb(70, 70, 70);
    list-style: none;
    color: white;
    font-size: 15px;
    border-radius: 6px;
  }

  .list button {
    cursor: pointer;
    border: 0;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 12px;
  }